.card{
  border: 2px solid hsl(0, 0%, 80%);
  border-color: rgb(194, 110, 194);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 28px;
  text-align: center;
  max-width: 310px;
  display: inline-block;
  background-color: rgb(139, 179, 177);
}

.card .card-image{
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}
.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

.card .card-image1{
  max-width: 48%;
  height: auto;
  margin-bottom: 10px;
}
